@model BlogPost

<h2>@Model.Title</h2>
<h5>@Model.Content</h5>
<p>Created at: @Model.CreatedAt</p>
@if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <div>
        <img src="@Model.ImageUrl" alt="Product Picture" width="200" height="200" />
    </div>
}
<br>

<h3>Comments:</h3>
@if (Model.Comments != null && Model.Comments.Count > 0)
{
    foreach (var comment in Model.Comments)
    {
        <p>@comment.Content - By: @comment.Author</p>
    }
}
else
{
    <p>No comments found.</p>
}

<hr />

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
<!-- Add any additional properties of the blog post that you want to display -->
